@import "partials/variables";
@import "partials/mixin";
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
	list-style: none;
	box-sizing: border-box;
}

.header{
	margin-top: 2.8%;
	height: 470px;
	background-position: center;
	background-size: cover;
}

.description {
	.presentacion {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 5%;
	font-family: 'Encode Sans', sans-serif;

}
}

.la {
    .ubicacion{
		width: 100%;
		margin: 0 auto;
		padding: 5px;
		margin-bottom: 5%;

}
}

.casa1{
	.casa{
		@include sizes(70%, 70%);
		margin-left: 15%;
	}
	margin: 3%;
	font-family: 'Encode Sans', sans-serif;
	p {
		font-size: $fontsizemedium;
	}
	.descripcion p {
		font-size: $fontsizemedium;
	}

}

.elmono{
	.mono{
		@include sizes(70%, 70%);
		margin-left: 15%;
	}
	margin: 3%;
	font-family: 'Encode Sans', sans-serif;
	p {
		font-size: $fontsizemedium;
		}
		.descripcion p {
			font-size: $fontsizemedium;
		}	
}

.input-group{
	width: 50%;
	margin-left: 20%;
}


h4{
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}


footer{
	text-align: center;
}


.descripcion {

	@include sizes(90%, 100%);	
	margin: 0 auto;
	padding: 10px;
	font-size: larger;
}

.cabecera_principal{

	@include sizes(100%, 100%);
	background-size: cover;
	font-family: 'Encode Sans', sans-serif;
}

.background{
	background-size: cover;
	background-position: center;
	background: linear-gradient(to top, rgb(0, 225, 255) 25%, white 75%);

	.breadcrumb{
		margin-left: 1%;
	}

	.busqueda{
		padding: 3%;
		text-align: center;
		width: auto;
		background-size: cover;
		background-position: center;
		}

	.contacto{

			padding: 5%;
			height: 600px;}

	h1{
		margin-top: 1%;
		font-size: $h1;
		text-align: center;
	}

	.contacto{
		.input-group{
			margin-left: 17%;
		}
	}
}

.clientes {
	margin-top: 2%;

}

.cartas {
	padding: 5%;
	background: linear-gradient(to top, rgb(0, 172, 175) 15%, white 85%);
}

.form-control{
	border: 2px solid;
}

h1{
	font-family: 'Encode Sans', sans-serif;
}

.input-group{
	width: 70%
}


@import "partials/conitionals";