/*cambio de texto mobil*/
@if ($vista =="desktop") {
    @media only screen and (min-with:1024px){
        .background{
            .description {
                .presentacion {
                    .fw-bold{
                        font-size: $pdesktop;}
                }
            }	
        }
        } 
    }

@else if ($vista =="mobile") {
    @media only screen and (min-with:764px){
        .background{
            .description {
                .presentacion {
                    .fw-bold{
                        font-size: $pdesktop;}
                }
            }	
            .la {
                .ubicacion {
                    .fw-bold{
                        font-size: $pdesktop;}
                }
            } }
        }
    }

@else {
    p{font-size: 1rem;}
}

/*cambio de background*/

@if ($season == "winter") {
   .header {
    background-image: url(../imagenes/invierno\ 4.jpg);
}
}
@else if ($season == "summer") {
    .header {
        background-image: url(../imagenes/lobitos.png);
}
}

@else {
	.header {
        background-image: url(../imagenes/invierno\ 4.jpg);	 
    }  
}
