/*cambio de texto mobil*/
@if ($vista =="desktop") {
		
    @media only screen and (min-with:1024px){
        p {font-size: $pdesktop;}
    }

} 
@else if ($vista =="mobile") {
    @media only screen and (max-with:767px){
        p {font-family: cursive;}			
    }
}

@else {
    p{font-size: 1rem;}
}

/*cambio de background*/

@if ($season == "winter") {
   .header {
    background-image: url(../imagenes/invierno\ 4.jpg);
}
}
@else if ($season == "summer") {
    .header {
        background-image: url(../imagenes/lobitos.png);
}
}

@else {
	.header {
        background-image: url(../imagenes/invierno\ 4.jpg);	 
    }  
}
