/*cambio de texto mobil*/
@if ($vista =="desktop") {
    @media only screen and (min-width:1024px){
        .background{
            .description {
                .presentacion {
                    h2{
                        font-size: $fontsizebig;
                        font-family: 'Encode Sans', sans-serif;}
                    .fw-bold{
                        font-size: $pdesktop;
                        font-family: 'Encode Sans', sans-serif;
                    }
                }
            }	
        }
        .la {
            .ubicacion {
                h2{
                    font-size: $fontsizebig;
                    font-family: 'Encode Sans', sans-serif;}
                .fw-bold{
                    font-size: $pdesktop;
                    font-family: 'Encode Sans', sans-serif;
                }
            }
        } 

        .los {
            .clientes {
                h2{
                    font-size: $fontsizebig;
                    font-family: 'Encode Sans', sans-serif;}
                .fw-bold{
                    font-size: $pdesktop;
                    font-family: 'Encode Sans', sans-serif;
                }
            }
        } 

        } 
    }

@else if ($vista =="mobile") {
    @media only screen and (max-width:764px){
        .background{
            .description {
                .presentacion {
                    h2{
                        font-size: $fontsizemedium;
                        font-family: 'Encode Sans', sans-serif;}
                    .fw-bold{
                        font-size: $pmobile;
                        font-family: 'Encode Sans', sans-serif;
                    }
                }
            }}	
            .la {
                .ubicacion {
                    h2{
                        font-size: $fontsizemedium;
                        font-family: 'Encode Sans', sans-serif;}
                    .fw-bold{
                        font-size: $pmobile;
                        font-family: 'Encode Sans', sans-serif;
                    }
                }
            } 

            .los {
                .clientes {
                    h2{
                        font-size: $fontsizemedium;
                        font-family: 'Encode Sans', sans-serif;}
                    .fw-bold{
                        font-size: $pmobile;
                        font-family: 'Encode Sans', sans-serif;
                    }
                }
            } 
        }
        }

@else {
    p{font-size: 1rem;}
}

/*cambio de background*/

@if ($season == "winter") {
   .header {
    background-image: url(../imagenes/invierno\ 4.jpg);

}
}
@else if ($season == "summer") {
    .header {
        background-image: url(../imagenes/lobitos.png);

}
}

@else {
	.header {
        background-image: url(../imagenes/invierno\ 4.jpg);	 
       
    }  
}
