$fontstyleIcursive: cursive;
$fontsizebig: 30px;
$fontsizemedium: 20px;
$fontsizesmall: 15px;
$vista: "desktop";
$pdesktop:30px;
$pmobile: 15px;
$season: "winter";
$h1: 50px;
$breadcrumb-divider: quote(">");